<%- include("partials/header"); -%>
    <h1>About</h1>
    <p class="home-note">I am developer from India. <br> I make websites for bussiness, organisations and individuals.</p>
<%- include("partials/footer"); -%>
