<%- include("partials/header"); -%>
    <h1>Contacts</h1>
    <p class="home-note">Email: jayprakashsharma225@gmail.com</p>
    <p class="home-note">Address: Kasba, Kolkata, West-Bengal 700042</p>
<%- include("partials/footer"); -%>
