<%- include('partials/header') -%>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Oh-oh!</h1>
      <p class="home-note">Seems like you didn't write with all your will.</p>
    </div>
  </div>
  <div class="wrt-btn-container">
    <a href="/compose">
        <button class="btn btn-lg btn-outline-secondary write-btn">Try again</button>
    </a>
</div>

<%- include('partials/footer') -%>